<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page for [app name]</title>
</head>
<body>
    <h2>Hosted Events</h2>
    <% if (hostedEvents.length === 0) { %>
        <p>No events found.</p>
    <% } else { %>
        <% for (const event of hostedEvents) { %>
            <a href="/events/<%= event.eventId %>">
                <div class="event-card">
                    <h2><%= event.eventName %></h2>
                    <img src="/images/eventImages/<%= event.imageId %>">
                    <p><%= event.eventDescription %></p>
                    <p><%= event.locationName %></p>
                    <p><%= event.eventDate %></p>
                </div>
            </a>
        <% } %>
    <% } %>
    <a href="/createEvent">Host a new event</a>
    <h2>Attending</h2>
    <% if (attendedEvents.length === 0) { %>
        <p>No events found.</p>
    <% } else { %>
        <% for (const event of attendedEvents) { %>
            <a href="events/<%= event.eventId %>">
                <div class="event-card">
                    <h2><%= event.eventName %></h2>
                    <img src="/images/eventImages/<%= event.imageId %>">
                    <p><%= event.eventDescription %></p>
                    <p><%= event.locationName %></p>
                    <p><%= event.eventDate %></p>
                </div>
            </a>
        <% } %>
    <% } %>
    <a href="/events">Find More Events</a>
    <a href="/eventMap">View Map of Events</a>

    <h2>Account Page</h2>
    <a href="/users/<%= user.userID%>"> Your Account </a>
</body>
</html>