<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page for [app name]</title>
</head>
<body>
    <h2>Hosted Events</h2>
    <% for (const event of events) { %>
        <a href="/events/<%= event.eventId %>">
            <div class="event-card">
                <h2><%= event.eventName %></h2>
                <img src="" alt="">
                <p><%= event.eventDescription %></p>
                <p><%= event.locationName %></p>
                <p><%= event.eventDate %></p>
            </div>
        </a>
    <% } %>
    <a href="/createEvent">Host a new event</a>
    <h2>Attending</h2>
    
</body>
</html>